{{> slide}}

<br>
{{#showErrors}}
{{#error}}
  <div class="alert alert-danger">
    {{.}}
  </div>
{{/error}}
{{/showErrors}}
<div class = "container text-right">
	<button type = "button" class = " btn btn-secondary" id = "printForm">Print Form</button>
</div>
<br>
