 <div class = "text-secondary text-center" style = "background-color: lightblue"><hr>
        <h4 style="text-align: center"><b>{{subtitle}}</b></h4><hr>
     </div>
     

	   <form method ="POST" action ="/checkresult">
	  <div class="container"> 
  
	<div class = "row">
		<div class="form-group col-md-6">
			<label for="reqNo">Reg No</label>
			<input type="text" class="form-control" id="regNo" placeholder="Enter Registration Number" name = "reg_no">
		</div>
		<div class="form-group col-md-6">
			<label for="pin">Pin</label>
			<input type="password" name = "pin" class="form-control" id="pin" placeholder="Enter Pin here">
		</div>
	</div>
  <div class = "row">
		<div class="form-group col-md-6">
			<label for="Session">Session</label>
			<select class = "form-control" id = "session" name = "session">
				<option>2015/2016</option>
			</select>
		</div>
		
		<div class="form-group col-md-6">
			<label for="term">Term</label>
			<select class = "form-control" id = "term" name = "term">
				<option>1 <sup>st</sup> Term</option>
				<option>2 <sup>nd</sup> Term</option>
				<option>3 <sup>rd</sup> Term</option>
			</select>
		</div>
	</div>
   
    	<div class="form-group"> <button type="submit" class="btn btn-block btn-secondary">Check Result</button> </form><br><br>

	</div>
    </div>