{{> slide}}
<br>
{{#ShowMessage}}
{{#messages}}
	<div class = "alert alert-success">{{.}}</div>
{{/messages}}
{{/ShowMessage}}

<!-- welcome address-->
<div class = "container-fluid">
	<h2 class = "container text-secondary text-center" id ="welcome"><b>WELCOME TO SANCTACRUX SECONDARY SCHOOL PORTAL</b></h2>
	<p>
		This is an official website portal of Sancta Crux Secondary, Olokoro. A catholic Secondary School for boys established since 1962. You are welcome to our portal and through it, you can now have access to the information about the school, which is out to make the difference we both in academics and the integral development of human person.
	</p>
	<p>
		Our boarding system is modern and meets up with the current standard with steady light and water supplies. The environment is conducive for academic and moral excellence.
	</p>
	<div class  = "row">
		<div class = "col-md-6 container text-center">
			<img class = "img-fluid" src = "/images/rector.png" >
		</div>
		<div class = "col-md-6">
			<p>Rev. Fr. Charles. U. Ukandu,</p>
			<p>Principal, Sancta Crux Secondary School Olokoro, Abia State.</p>
		</div>
	</div>
	<!--end of welcome-->
	<div class = "container bg bg-secondary">
		<hr>
		<h3 class = "text-white text-center container"><b>AIMS AND OBJECTIVES</b></h3>
		<hr>
	</div>
	<div class = "container text-justify">
		<p>To create a conducive school climate for learning and boarding.</p>
		<p>To foster an environment where a culture of learning exists between students and staff, thus demonstrating that quality education is attainable within the boundaries of our nation.</p>
		<p>To promote an orderly teaching and learning environment that respects the dignity of both teacher and pupil.</p>
		<p>To facilitate the ongoing development and training of staff.</p>
		<p>To strive to help our young boys to develop their physical, emotional, intellectual, moral, and spiritual talents and qualities harmoniously.</p>
		<p>To develop and promote Nigeria languages, art and culture in the context of world’s cultural heritage.</p>
		<p>To develop the full potential of students, giving special assistance to individuals with special needs.</p>
	</div>
	<!--end of aims-->
	<div class = "container bg bg-secondary">
		<hr>
		<h3 class = "text-white text-center container"><b>GALLERY</b></h3>
		<hr>
	</div>
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="container-fluid text-justify">
					<div class = "row">
						<div class = "col col-md-6">
							<img src="/images/santacruz2.jpg" class="d-block w-100" alt="...">
							<caption>image one</caption>
						</div>
						
						
						<div class = "col col-md-6">
							<img src="/images/santacruz2.jpg" class="d-block w-100" alt="...">
							<caption>image one</caption>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="container-fluid text-justify">
					<div class = "row">
						<div class = "col col-md-6">
							<img src="/images/santacruz2.jpg" class="d-block w-100" alt="...">
							<caption>image one</caption>
						</div>
						
						<div class = "col col-md-6">
							<img src="/images/santacruz2.jpg" class="d-block w-100" alt="...">
							<caption>image one</caption>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="container-fluid text-justify">
					<div class = "row">
						<div class = " col col-md-6">
							<img src="/images/santacruz2.jpg" class="d-block w-100" alt="...">
							<caption>image one</caption>
						</div>
						
						<div class = "col col-md-6">
							<img src="/images/santacruz2.jpg" class="d-block w-100" alt="...">
							<caption>image one</caption>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<br>
		
</div>