<!doctype html>
<html class="no-js" lang="en">
  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="/bootstrap/css/mimi.css">
	  <!--Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="">
{{> mainseo}}
    
  </head>
  <body class = "bg bg-light">
  <!-- nav -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" href="#"><b>{{title}}</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">Latest News</a>
      </li>
            
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admission Requirements
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/boarders">Boarders</a>
          <a class="dropdown-item" href="/newstudents">New Students</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/emc">Extra moral classes</a>
        
        <a class = "dropdown-item" href = "/computer"> Computer Programmes</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#contactus" >Contact Us</a>
      </li>
	  {{#if isAuthenticated}}
            <li class="nav-item">
        <a class="nav-link" href="/resultchecker">Check Result</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/wardreport">WARD REPORTS</a>
      </li>
           
            <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
      {{else}}
            <li class="nav-item">
        <a class="nav-link" href="/register">Sign Up</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/login">Sign In</a>
      </li>
      {{/if}}
      <!--
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name = "domain" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>
  <!-- end of nav -->

  
{{{body}}}
<div class = "text-justify" style = "background-color: lightblue">
<div class = "row">
<div class = "container col-md-4">
<h4 class = "container text-white h4"> QUICK LINKS </h4>
	<ul class = "list-inline container">
	<li class = "nav-link">
	<a href = "/home">Home</a>
	</li>
	{{#if isAuthenticated}}
	<li class = "nav-link">
	<a href = "/admin">Admin Corner</a>
	</li>
	<li class = "nav-link">
	<a href = "/logout">Log Out</a>
	</li>
	{{/if}}
	
	</ul>
	</div>
	<div class = " col-md-4" id = "contactus">
	<h4 class = "container text-white text-justify"> CONTACT US</h4>
	<div class = "row container">
	<ul class = "list-inline container">
<li class="nav-item">
        <a class="nav-link" target = "_blank" href="/ticket">Ticket</a>
      </li>

<li class="nav-item">
        <a class="nav-link" target = "_blank" href="https://tawk.to/chat/5c780ef43341d22d9ce6a5d8/default">Chat</a>
      </li>
</ul>
</div>
	</div>
<div class = "col-md-4">
<h4 class = " container text-white h4"> SOCIAL HANDLE </h4>

	<ul class = "list-inline container">
	<li class = "nav-link">
	<a href = "/home">Home</a>
	</li>
	</ul>
</div>

</div>
<div class = "text-white row bg bg-secondary text-center">

<h5 class = "container"> Website Development by <a href = "http://cheapwebscripts.xyz"> <b>CHEAP WEB SCRIPTS </a> <a href = "tel: +2348061179366" target "_blank"> 0806 117 9366 </a></b> </h5>
</div>
</div>

  </body>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/bootstrap/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src ="/bootstrap/js/ajax.js"></script>
  </html>