<footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                            <li>
                            <a href="/profile">
                                Profile
                            </a>
                        </li>
                            <li>
                            <a href="/dashboard">
                                Dashboard
                            </a>
                        </li>
                            <li>
                            <a href="/referrals">
                                Referrals
                            </a>
                        </li>
                            <li>
                            <a href="/news">
                                News
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class = row>
				<div class="copyright pull-right"><p class = "col">
                   &copy; <script>document.write(new Date().getFullYear())</script> Website development by </p><p class = "col"><a href="https://cheapwebscripts.xyz">CHEAP WEB SCRIPT</a></p>
                   </div>
                </div>                
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/assets/js/bootstrap.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/assets/js/bootstrap-checkbox-radio.js"></script>


    <!--  Notifications Plugin    -->
    <script src="/assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="/assets/js/paper-dashboard.js"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="/assets/js/demo.js"></script>
	    <script src="/js/countdown.js"></script>


</html>