 <div class = "text-secondary text-center" style = "background-color: lightblue"><hr>
        <h4 style="text-align: center"><b>{{title}}</b></h4><hr>
 </div>
 
<div class = "container-fluid">
	<div class = "form-group">
	<label for = "classes"> Class Category</label>
		<select class = "form-control" id = "classes">
			<option></option>
			<option>JSS</option>
			<option>SSS</option>
		</select>
	</div>
</div>

<form action = "/uploadresult" method = "post">
	<div id = "jss" class = "container-fluid">
		<div class = "form-row">
			<div class = "form-group col-md-6">
				<label for = "reg_no"> Registration Number</label>
				<input type="text" class="form-control" id="reg_no" name ="reg_no" placeholder="Enter reg_no"   />
			</div>
			<div class = "form-group col-md-6">
				<label for = "class">Class</label>
				<select class = "form-control" name = "Class">
					<option></option>
					<option>JSS 1</option>
					<option>JSS 2</option>
					<option>JSS 3</option>
				</select>
			</div>
		</div>
		
		<div class = "form-row">
			<div class = "form-group col-md-6">
				<label for = "session">Academic Session</label>
				<input type="text" class="form-control" id="session" name ="session" placeholder="Enter Academic Session here"   />
			</div>
			<div class = "form-group col-md-6">
				<label for = "term">Term</label>
				<select class = "form-control" name = "term">
					<option></option>
					<option>1<sup>st</sup> Term</option>
					<option>2<sup>nd</sup> Term</option>
					<option>3<sup>rd</sup> Term</option>
				</select>
			</div>
		</div>
		<!-- here fill in all subjects -->
		<br>
		
		<h5 class = " h5 container text-center text-secondary"><b>SUBJECTS</b></h5><br>
		<div id = "JaddSub">
			<div class = "form-row">
				<div class = "form-group col-md-4">
					<label for = "subject">Subjects</label>
					<input type="text" class="form-control" id="subjss1" name ="sub1"   />
				</div>
				<div class = "form-group col-md-4">
					<label for = "grade">Grade</label>
					<select class = "form-control" name = "grade1">
						<option></option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>E</option>
						<option class = text-danger">F</option>
					</select>
				</div>
				
				<div class = "form-group col-md-4">
					<label for = "class_Position">Position</label>
					<input type="text" class="form-control" id="classPosition" name ="ClassPosition"   />
				</div>
			</div>
			<div class = "form-row">
				<div class = "form-group col-md-4">				
					<label for = "CA">C.A</label>
					<input type="number" class="form-control" id="ca" name ="CA"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "exam">Exam</label>
					<input type="number" class="form-control" id="exam" name ="exam"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "subjectTotal">Total</label>
					<input type="number" class="form-control" id="subjectTotal" name ="subjectTotal"   />
				</div>
			</div>
			<br><br>
			<div class = "form-row" id = "j2">
				<div class = "form-group col-md-4">
					<label for = "subject">Subjects</label>
					<input type="text" class="form-control" id="subjss" name ="sub2"   />
				</div>
				<div class = "form-group col-md-4">
					<label for = "grade">Grade</label>
					<select class = "form-control" name = "grade2">
						<option></option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>E</option>
						<option class = text-danger">F</option>
					</select>
				</div>
				
				<div class = "form-group col-md-4">
					<label for = "class_Position">Position</label>
					<input type="text" class="form-control" id="classPosition" name ="ClassPosition2"   />
				</div>
			</div>
			<div id = "j21" class = "form-row">
				<div class = "form-group col-md-4">				
					<label for = "CA">C.A</label>
					<input type="number" class="form-control" id="ca" name ="CA2"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "exam">Exam</label>
					<input type="number" class="form-control" id="exam" name ="exam2"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "subjectTotal">Total</label>
					<input type="number" class="form-control" id="subjectTotal" name ="subjectTotal2"   />
				</div>
			</div>
			<br><br>
			<div id = "j3" class = "form-row">
				<div class = "form-group col-md-4">
					<label for = "subject">Subjects</label>
					<input type="text" class="form-control" id="subjss" name ="sub3"   />
				</div>
				<div class = "form-group col-md-4">
					<label for = "grade">Grade</label>
					<select class = "form-control" name = "grade3">
						<option></option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>E</option>
						<option class = text-danger">F</option>
					</select>
				</div>
				
				<div class = "form-group col-md-4">
					<label for = "class_Position">Position</label>
					<input type="text" class="form-control" id="classPosition" name ="ClassPosition3"   />
				</div>
			</div>
			<div id = "j31" class = "form-row">
				<div class = "form-group col-md-4">				
					<label for = "CA">C.A</label>
					<input type="number" class="form-control" id="ca" name ="CA3"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "exam">Exam</label>
					<input type="number" class="form-control" id="exam" name ="exam3"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "subjectTotal">Total</label>
					<input type="number" class="form-control" id="subjectTotal" name ="subjectTotal3"   />
				</div>
			</div>
			<br><br>
			<div class = "form-row" id = "j4">
				<div class = "form-group col-md-4">
					<label for = "subject">Subjects</label>
					<input type="text" class="form-control" id="subjss" name ="sub4"   />
				</div>
				<div class = "form-group col-md-4">
					<label for = "grade">Grade</label>
					<select class = "form-control" name = "grade4">
						<option></option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>E</option>
						<option class = text-danger">F</option>
					</select>
				</div>
				
				<div class = "form-group col-md-4">
					<label for = "class_Position">Position</label>
					<input type="text" class="form-control" id="classPosition" name ="ClassPosition4"   />
				</div>
			</div>
			<div class = "form-row" id = "j41">
				<div class = "form-group col-md-4">				
					<label for = "CA">C.A</label>
					<input type="number" class="form-control" id="ca" name ="CA4"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "exam">Exam</label>
					<input type="number" class="form-control" id="exam" name ="exam4"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "subjectTotal">Total</label>
					<input type="number" class="form-control" id="subjectTotal" name ="subjectTotal4"   />
				</div>
			</div><br><br>
			<div class = "form-row" id = "j5">
				<div class = "form-group col-md-4">
					<label for = "subject">Subjects</label>
					<input type="text" class="form-control" id="subjss" name ="sub5"   />
				</div>
				<div class = "form-group col-md-4">
					<label for = "grade">Grade</label>
					<select class = "form-control" name = "grade5">
						<option></option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>E</option>
						<option class = text-danger">F</option>
					</select>
				</div>
				
				<div class = "form-group col-md-4">
					<label for = "class_Position">Position</label>
					<input type="text" class="form-control" id="classPosition" name ="ClassPosition5"   />
				</div>
			</div>
			<div class = "form-row" id = "j51">
				<div class = "form-group col-md-4">				
					<label for = "CA">C.A</label>
					<input type="number" class="form-control" id="ca" name ="CA5"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "exam">Exam</label>
					<input type="number" class="form-control" id="exam" name ="exam5"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "subjectTotal">Total</label>
					<input type="number" class="form-control" id="subjectTotal" name ="subjectTotal5"   />
				</div>
			</div><br><br>
			<div id = "j6" class = "form-row">
				<div class = "form-group col-md-4">
					<label for = "subject">Subjects</label>
					<input type="text" class="form-control" id="subjss" name ="sub6"   />
				</div>
				<div class = "form-group col-md-4">
					<label for = "grade">Grade</label>
					<select class = "form-control" name = "grade6">
						<option></option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>E</option>
						<option class = text-danger">F</option>
					</select>
				</div>
				
				<div class = "form-group col-md-4">
					<label for = "class_Position">Position</label>
					<input type="text" class="form-control" id="classPosition" name ="ClassPosition6"   />
				</div>
			</div>
			<div class = "form-row" id = "j61">
				<div class = "form-group col-md-4">				
					<label for = "CA">C.A</label>
					<input type="number" class="form-control" id="ca" name ="CA6"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "exam">Exam</label>
					<input type="number" class="form-control" id="exam" name ="exam6"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "subjectTotal">Total</label>
					<input type="number" class="form-control" id="subjectTotal" name ="subjectTotal6"  />
				</div>
			</div><br><br>
			<div class = "form-row" id = "j7">
				<div class = "form-group col-md-4">
					<label for = "subject">Subjects</label>
					<input type="text" class="form-control" id="subjss" name ="sub7" />
				</div>
				<div class = "form-group col-md-4">
					<label for = "grade">Grade</label>
					<select class = "form-control" name = "grade7">
						<option></option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>E</option>
						<option class = text-danger">F</option>
					</select>
				</div>
				
				<div class = "form-group col-md-4">
					<label for = "class_Position">Position</label>
					<input type="text" class="form-control" id="classPosition" name ="ClassPosition7"  />
				</div>
			</div>
			<div class = "form-row" id = "j71">
				<div class = "form-group col-md-4">				
					<label for = "CA">C.A</label>
					<input type="number" class="form-control" id="ca" name ="CA7"  />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "exam">Exam</label>
					<input type="number" class="form-control" id="exam" name ="exam7"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "subjectTotal">Total</label>
					<input type="number" class="form-control" id="subjectTotal" name ="subjectTotal7"   />
				</div>
			</div><br><br>
			<div class = "form-row" id = "j8">
				<div class = "form-group col-md-4">
					<label for = "subject">Subjects</label>
					<input type="text" class="form-control" id="subjss" name ="sub8"   />
				</div>
				<div class = "form-group col-md-4">
					<label for = "grade">Grade</label>
					<select class = "form-control" name = "grade7">
						<option></option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>E</option>
						<option class = text-danger">F</option>
					</select>
				</div>
				
				<div class = "form-group col-md-4">
					<label for = "class_Position">Position</label>
					<input type="text" class="form-control" id="classPosition" name ="ClassPosition8"   />
				</div>
			</div>
			<div class = "form-row" id = "j81">
				<div class = "form-group col-md-4">				
					<label for = "CA">C.A</label>
					<input type="number" class="form-control" id="ca" name ="CA8"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "exam">Exam</label>
					<input type="number" class="form-control" id="exam" name ="exam8"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "subjectTotal">Total</label>
					<input type="number" class="form-control" id="subjectTotal" name ="subjectTotal8"   />
				</div>
			</div><br><br>
			<div class = "form-row" id = "j9">
				<div class = "form-group col-md-4">
					<label for = "subject">Subjects</label>
					<input type="text" class="form-control" id="subjss" name ="sub9"   />
				</div>
				<div class = "form-group col-md-4">
					<label for = "grade">Grade</label>
					<select class = "form-control" name = "grade9">
						<option></option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>E</option>
						<option class = text-danger">F</option>
					</select>
				</div>
				
				<div class = "form-group col-md-4">
					<label for = "class_Position">Position</label>
					<input type="text" class="form-control" id="classPosition" name ="ClassPosition9"   />
				</div>
			</div>
			<div class = "form-row" id = "j91">
				<div class = "form-group col-md-4">				
					<label for = "CA">C.A</label>
					<input type="number" class="form-control" id="ca" name ="CA9"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "exam">Exam</label>
					<input type="number" class="form-control" id="exam" name ="exam9"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "subjectTotal">Total</label>
					<input type="number" class="form-control" id="subjectTotal" name ="subjectTotal9"   />
				</div>
			</div><br><br>
			<div class = "form-row" id = "j10">
				<div class = "form-group col-md-4">
					<label for = "subject">Subjects</label>
					<input type="text" class="form-control" id="subjss" name ="sub10"   />
				</div>
				<div class = "form-group col-md-4">
					<label for = "grade">Grade</label>
					<select class = "form-control" name = "grade10">
						<option></option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>E</option>
						<option class = text-danger">F</option>
					</select>
				</div>
				
				<div class = "form-group col-md-4">
					<label for = "class_Position">Position</label>
					<input type="text" class="form-control" id="classPosition" name ="ClassPosition10"   />
				</div>
			</div>
			<div class = "form-row" id = "j101">
				<div class = "form-group col-md-4">				
					<label for = "CA">C.A</label>
					<input type="number" class="form-control" id="ca" name ="CA10"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "exam">Exam</label>
					<input type="number" class="form-control" id="exam" name ="exam10"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "subjectTotal">Total</label>
					<input type="number" class="form-control" id="subjectTotal" name ="subjectTotal10"   />
				</div>
			</div><br><br>
			<div class = "form-row" id = "j111">
				<div class = "form-group col-md-4">
					<label for = "subject">Subjects</label>
					<input type="text" class="form-control" id="subjss" name ="sub11"   />
				</div>
				<div class = "form-group col-md-4">
					<label for = "grade">Grade</label>
					<select class = "form-control" name = "grade11">
						<option></option>
						<option>A</option>
						<option>B</option>
						<option>C</option>
						<option>D</option>
						<option>E</option>
						<option class = text-danger">F</option>
					</select>
				</div>
				
				<div class = "form-group col-md-4">
					<label for = "class_Position">Position</label>
					<input type="text" class="form-control" id="classPosition" name ="ClassPosition11"   />
				</div>
			</div>
			<div class = "form-row" id = "j11">
				<div class = "form-group col-md-4">				
					<label for = "CA">C.A</label>
					<input type="number" class="form-control" id="ca" name ="CA11"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "exam">Exam</label>
					<input type="number" class="form-control" id="exam" name ="exam11"   />
				</div>
				<div class = "form-group col-md-4">				
					<label for = "subjectTotal">Total</label>
					<input type="number" class="form-control" id="subjectTotal" name ="subjectTotal11"   />
				</div>
			</div>
			
			
			
		</div>
			
		
		<br><br>
		<div class = "form-row">
			<div class = "form-group col-md-4">				
				<label for = "Total">Grand Total</label>
				<input type="number" class="form-control" id="total" name ="total"   />
			</div>
			<div class = "form-group col-md-4">				
				<label for = "aggregate">Exam</label>
				<input type="number" class="form-control" id="aggregate" name ="aggregate"   />
			</div>
			<div class = "form-group col-md-4">				
				<label for = "Position">Position</label>
				<input type="text" class="form-control" id="Position" name ="Position"   />
			</div>
		</div>
		<br>
		<div class = "form-row">
			<div class = "form-group col-md-6">				
				<label for = "classTeacher">Class Teacher's Remark</label>
				<textarea class="form-control" id="classTeacher" name ="classTeacher"></textarea>
			</div>
			<div class = "form-group col-md-6">				
				<label for = "Principal">Principal Remark</label>
				<textarea class="form-control" id="Principal" name ="Principal"></textarea>
			</div>
		</div>
		<div class = "form-group">
			<button type = "submit" class = "form-control btn btn-secondary">Upload Result</button> 
		</div>
	</div>
</form>

<form action = "/uploadresult" method = "post">
	<div id = "sss" class = "container-fluid">
		<div class = "form-row">
			<div class = "form-group col-md-6">
				<label for = "reg_no"> Registration Number</label>
				<input type="text" class="form-control" id="reg_no" name ="reg_no" placeholder="Enter reg_no"   />
			</div>
			<div class = "form-group col-md-6">
				<label for = "class">Class</label>
				<select class = "form-control" name = "class">
					<option>SSS 1</option>
					<option>SSS 2</option>
					<option>SSS 3</option>
				</select>
			</div>
		</div>
	</div>
</form>