 <div class = "text-secondary text-center" style = "background-color: lightblue"><hr>
        <h4 style="text-align: center"><b>{{title}}</b></h4><hr>
 </div>
 
<div class = "container-fluid">
	<div class = "form-group">
	<label for = "classes"> Class Category</label>
		<select class = "form-control" id = "classes">
			<option></option>
			<option>JSS</option>
			<option>SSS</option>
		</select>
	</div>
</div>

<div id = "jss">
cvhcxvkcx   jss
</div>

<div id = "sss">   sss
</div>