<diiv class = "container-fluid">
	<h1>{{title}}</h1>
	<p> Welcome to your new website. You are seeing this message because you have not activated your website yet. Contact <a href = "tel +2348061179366"> 08061179366 </a> to activate and start using it.</p>
</div>